# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment variables
backend/.env
frontend/.env

# Node
backend/node_modules/
frontend/node_modules/

# Build
frontend/dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db