# =========================
# Python
# =========================
backend/venv/
backend/__pycache__/
*.py[cod]

# =========================
# Environment Variables
# =========================
backend/.env
frontend/.env

# =========================
# Node
# =========================
backend/node_modules/
frontend/node_modules/

# =========================
# Build
# =========================
frontend/dist/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db