@import "tailwindcss";

:root {
  --bg: #050816;
  --sidebar: #0b1220;
  --card: #101827;
  --border: #1d293d;

  --primary: #8b5cf6;
  --secondary: #3b82f6;

  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;
}

body {
  margin: 0;

  background:
    radial-gradient(
      circle at 15% 20%,
      rgba(168,85,247,.12),
      transparent 35%
    ),
    radial-gradient(
      circle at 85% 40%,
      rgba(59,130,246,.10),
      transparent 30%
    ),
    #050816;

  color: white;
  min-height: 100vh;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}